// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 15px; /* 3 */
  padding-right: 15px; /* 3 */
  width: 100%; /* 1 */
}

//Hides and shows elements
.hidden {
  display: none;
}
.active {
  display: block;
}

.divider {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  background-color: $secondary-brand-color;
  padding: 5px 0;
  &.divider_bottom {
    margin-bottom: 0;
  }
}

.br_none {
  border: 0 !important;
}
.asterisk__name {
  position: relative;
  &:after{
    content: '*';
    display: block;
    position: absolute;
    width: 5px;
    top: 0;
    left: 29px;
    color: $secondary-brand-color;
    height: 5px;
  }
}
.asterisk__email {
  position: relative;
  &:after {
    content: '*';
    display: block;
    position: absolute;
    width: 5px;
    top: 0;
    left: 39px;
    color: $secondary-brand-color;
    height: 5px;
  }
}
.vertical_text {
  transform: rotate(270deg);
  transform-origin: left top 0;
}