///NEWS CONTENT BLOCK
.layout {
  @extend .clearfix;
}
.content {
  padding-left: 5px;
  overflow: hidden;
}
.content__title {
  float: left;
  margin: 0;
  font-size: $text-title-size;
  text-transform: uppercase;
}
.date__item {
  float: right;
  margin-top: -6px;
  .date__day {
    margin: 0;
    font-size: 35px;
  }
  .date__month {
    margin: 0;
  }
}
.news__content {
  @extend .clearfix;
  padding: 55px 0 ;
  p {
    margin-top: 0;
    line-height: 1.5;
  }
}

.mews__img {
  float: left;
  padding-right: 12px;
}

//CONTACT PAGE
.contact__title-box {
  .content__title {
    float: none;
  }
}
.contact__phones {
  float: left;
  width: 60%;
  height: 400px;


}
.contact__feedback-form {
  overflow: hidden;
  padding-bottom: 30px;
}

.contact__title {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 8px;
  color: $secondary-brand-color;
  text-transform: uppercase;
}
.phones__menu {
  position: relative;
  margin: 0;
  list-style-type: none;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: 10px;
    left: 15px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -15px -14px;
  }
}
.phone__item {
  padding: 10px;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: 10px;
    left: 15px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -15px -14px;
  }
}
.contact__email {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: -4px;
    left: -33px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -53px -14px;
  }
}
.contact__skype {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: -4px;
    left: -33px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -92px -17px;
  }
}
.sub__contact-title {
  font-weight: $bold;
}

.contact_common {
  display: inline;
  font-size: 12px;
  margin-left: 50px;
  color: $secondary-brand-color;
  border-bottom: 1px dotted $secondary-brand-color;
}
.contact__address {
  padding-right: 35px;
}

.feedback__form {
  padding: 5px 15px;
  border: 2px solid $secondary-brand-color;
  p {
    margin-bottom: 2px;
    font-style: italic;
  }
}
.textarea__input {
  resize: none;
}
.contact__input {
  width: 100%;
  padding: 2px 5px;
  background-color: $bg-third-color;
  outline: none;
  border: 1px solid #A99696;
}

.content__map {
  #map {
    height: 500px;
  }
  margin-bottom: 60px;
}
.map__element {
  padding-top: 5px;
  border-top: 4px solid $main-color;
  border-bottom: 1px solid $main-color;
}
.container__comments {
  position: fixed;
  padding: 9px 8px;
  padding-left: 35px;
  width: 220px;
  background-color: #fed900;
  transform: rotate(270deg);
  top: 0;
  margin: auto 0;
  bottom: 0;
  height: 35px;
  left: 0;
  text-align: center;
}
.comments__text {
  font-weight: $bold;
  text-transform: uppercase;
  &:before {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    display: block;
    width: 23px;
    height: 35px;
    top: 0;
    left: 25px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -83px -284px;
  }
}

//CATALOG PAGE
.catalog__menu-bottom {
  .item_search {
    width: 330px;
    padding-left: 40px;
    .menu__search-input {
      width: 100%;
    }
    .menu__search-submit {
      right: -58px;
      top: 2px;
    }
  }
  .menu__item {
    padding: 5px 10px 5px 18px;
  }
  .menu__link {
    padding: 5px 8px;
    &:after {
      content: '';
      display: inline-block;
      width: 14px;
      vertical-align: middle;
      height: 15px;
      background-image: url("../../images/sprites/sprites.png");
      background-position: -187px -63px;
    }
  }
  .open_link {
    background-color: $bg-sec-color;
    color: $secondary-color;
    &:after {
      content: '';
      display: inline-block;
      background-image: url("../../images/sprites/sprites.png");
      background-position: -219px -62px;
      margin-left: 2px;
    }
  }
}