///NEWS CONTENT BLOCK
.main-content {
  @extend .clearfix;
  position: relative;
}

.content {
  padding-left: 30px;
  /* overflow: hidden; */
  width: 73%;
  float: right;
}

.content__title {
  float: left;
  margin: 0;
  font-size: $text-title-size;
  text-transform: uppercase;
}

.date__item {
  float: right;
  margin-top: -6px;
  .date__day {
    margin: 0;
    font-size: 35px;
  }
  .date__month {
    margin: 0;
  }
}

.news__content {
  @extend .clearfix;
  padding: 55px 0;
  p {
    margin-top: 0;
    line-height: 1.5;
  }
}

.mews__img {
  float: left;
  padding-right: 12px;
}

//CONTACT PAGE
.contact__title-box {
  .content__title {
    float: none;
  }
}

.contact__phones {
  float: left;
  width: 60%;
  height: 400px;

}

.contact__feedback-form {
  overflow: hidden;
  padding-bottom: 30px;
}

.contact__title {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 8px;
  color: $secondary-brand-color;
  text-transform: uppercase;
}

.phones__menu {
  position: relative;
  margin: 0;
  list-style-type: none;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: 10px;
    left: 15px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -15px -14px;
  }
}

.phone__item {
  padding: 10px;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: 10px;
    left: 15px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -15px -14px;
  }
}

.contact__email {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: -4px;
    left: -33px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -53px -14px;
  }
}

.contact__skype {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 25px;
    top: -4px;
    left: -33px;
    background-image: url("../../images/sprites/contact-sprites.png");
    background-position: -92px -17px;
  }
}

.sub__contact-title {
  font-weight: $bold;
}

.contact_common {
  display: inline;
  font-size: 12px;
  margin-left: 50px;
  color: $secondary-brand-color;
  border-bottom: 1px dotted $secondary-brand-color;
}

.contact__address {
  padding-right: 35px;
}

.feedback__form {
  padding: 5px 15px;
  border: 2px solid $secondary-brand-color;
  p {
    margin-bottom: 2px;
    font-style: italic;
  }
}

.textarea__input {
  resize: none;
}

.contact__input {
  width: 100%;
  padding: 2px 5px;
  background-color: $bg-third-color;
  outline: none;
  border: 1px solid #A99696;
}

.content__map {
  #map {
    height: 500px;
  }
  margin-bottom: 60px;
}

.map__element {
  padding-top: 5px;
  border-top: 4px solid $main-color;
  border-bottom: 1px solid $main-color;
}

.container__comments {
  z-index: 19;
  position: fixed;
  padding: 9px 8px;
  padding-left: 35px;
  width: 220px;
  background-color: #fed900;
  transform: rotate(270deg);
  top: 0;
  margin: auto 0;
  bottom: 0;
  height: 35px;
  left: 0;
  text-align: center;
}

.comments__text {
  font-weight: $bold;
  text-transform: uppercase;
  &:before {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    display: block;
    width: 23px;
    height: 35px;
    top: 0;
    left: 25px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -83px -284px;
  }
}

//CATALOG PAGE
.catalog__menu-bottom {
  @extend .clearfix;
  .menu__navigation {
    float: left;
    width: 60%;
  }
  .item_search {
    width: 37%;
    float: right;
    padding-right: 30px;
    .menu__search-input {
      width: 100%;
    }
    .menu__search-submit {
      right: 5px;
      top: 2px;
    }
  }
  .menu__item {
    position: relative;
    padding: 5px 5px 5px 14px;
    &:hover {
      .menu__link {
        background-color: $bg-sec-color;
        color: $secondary-color;
        &:before {
          background-color: $bg-sec-color;

        }
        &:after {
          content: '';
          display: inline-block;
          background-image: url("../../images/sprites/sprites.png");
          background-position: -247px -64px;

        }
      }
    }
  }
  .menu__link {
    &:before {
      transition: 0.15s;
      position: absolute;
      content: '';
      display: block;
      top: 29px;
      left: 0;
      right: 0;
      height: 5px;
      background-color: transparent;
    }
    position: relative;
    padding: 5px 5px;
    &:after {
      content: '';
      display: inline-block;
      width: 14px;
      vertical-align: middle;
      height: 15px;
      background-image: url("../../images/sprites/sprites.png");
      background-position: -187px -63px;
    }
    &.open_link {
      background-color: $bg-sec-color;
      color: $secondary-color;
      &:after {
        content: '';
        display: inline-block;
        background-image: url("../../images/sprites/sprites.png");
        background-position: -219px -62px;
      }
    }
  }
}

.dropdown__menu {
  position: absolute;
  display: none;
  top: 39px;
  left: 14px;
  z-index: 10;
  width: 220px;
  background-color: $secondary-color;
  list-style: none;
  padding: 5px 5px;
  margin: 0;
  border: 3px solid $bg-sec-color;
}
.dropdown__item {
  border-bottom: 1px solid $third-brand-color;
  &:last-child {
    border: 0;
  }
}
.dropdown__link {
  display: block;
  padding: 7px 6px;
  text-align: left;
  font-size: $text-secondary-size;
  font-weight: $bold;
  &:hover {
    background-color: $bg-third-color;
  }
}

.menu__item {
  &:hover {
    .dropdown__menu {
      display: block;
    }
  }
}

//ACCORDION MENU
.accordion {
  margin-top: 4px;
  margin-bottom: 25px;
}

.accordion__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.accordion__item {
  padding: 2px 0;
}

.accordion__link {
  padding: 6px 12px;
  background-color: #fed900;
  display: block;
  font-size: $text-mid-size;
  font-weight: $bold;
  &:after {
    content: '';
    display: block;
    float: right;
    height: 18px;
    width: 18px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -184px -60px;
  }
  &.open_link {
    background-color: $bg-sec-color;
    color: $secondary-color;
    &:after {
      content: '';
      display: block;
      float: right;
      height: 18px;
      width: 18px;
      background-image: url("../../images/sprites/sprites.png");
      background-position: -216px -60px;
    }
  }
}

.accordion__inner {
  list-style-type: none;
  padding: 0;
}

.inner__item {
  position: relative;
  border-bottom: 1px solid $third-brand-color;
}

.inner__link {
  padding: 6px 12px;
  display: block;
  font-size: $text-main-size;
  font-weight: $bold;
  &:hover,
  &:focus {
    background-color: $bg-third-color;
    &:before {
      content: '';
      display: block;
      position: absolute;
      border-left: 6px solid $brand-color;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}

//FILTERING
.filtering {
  margin-bottom: 45px;
}

.filter__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter__link {
  padding: 6px 6px;
  display: block;
  border: 2px solid $secondary-brand-color;
  &:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 17px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: $bg-brand-color;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -188px -63px;
  }
  &.open_link {
    &:before {
      content: '';
      display: inline-block;
      height: 15px;
      width: 17px;
      margin-right: 5px;
      vertical-align: middle;
      background-color: $secondary-brand-color;
      background-image: url("../../images/sprites/sprites.png");
      background-position: -219px -62px;
    }
  }
}

.filter__price-range {
  overflow: hidden;
  padding: 8px 0 8px 8px;
  span {
    font-size: 12px;
  }
}

.price__input {
  width: 22%;
  margin-left: 5px;
  margin-right: 10px;
}

.price__submit {
  float: right;
  border: none;
  font-size: $text-main-size;
  outline: 0;
  padding: 5px 8px;;
}

.filter__size-menu {
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__size {
  padding: 8px 0 8px 8px;
  overflow: auto;
  height: 250px;
}

.size__menu-item {
  font-size: $text-main-size;
  padding: 5px 0;
}

//CHECKBOX
input[type="checkbox"] {
  display: none;
}

.checkbox__icon {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid #333;
  margin-bottom: 3px;
}

input[type="checkbox"]:checked {
  & + .checkbox__icon {
    .icon_decor {
      width: 6px;
      height: 6px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      background-color: #333333;
    }
  }
}

//COLOR FILTER
.filter__color {
  padding: 10px 50px 10px 25px;
}

.color__item {
  padding: 14px;
  margin: 4px;
  display: block;
  background-color: red;
}

.color__col {
  float: left;
  min-height: 15px;
  position: relative;
  padding: 0 0 5px 0px;
  width: 20%;
}

.color-box-shadow {
  box-shadow: 1px 1px 2px #6D6464;
}

.color_item-1 {
  @extend .color-box-shadow;
  background-color: $bg-third-color;
  border: 1px transparent;
}

.color_item-2 {
  background-color: $secondary-color;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-3 {
  background-color: cornflowerblue;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-4 {
  background-color: $bg-brand-color;
  @extend .color-box-shadow;
}

.color_item-5 {
  background-color: saddlebrown;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-6 {
  background-color: seagreen;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-7 {
  background-color: darkred;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-8 {
  background-color: salmon;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-9 {
  background-color: palevioletred;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-10 {
  background-color: mediumblue;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-11 {
  background-color: lightskyblue;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-12 {
  background-color: #333333;
  border: 1px transparent;
  @extend .color-box-shadow;
}

.color_item-13 {
  @extend .color_item-1;
  background-color: orangered;

}

.filter__reset {
  margin-top: 30px;
  text-align: center;
}

.anchor__icon {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.anchor__top {
  position: relative;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    margin: auto;
    right: 0;
    top: -30px;
    left: 0;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -204px -5px;
    height: 25px;
  }
}

.content__navigation {
  text-decoration: underline;
  font-size: $text-secondary-size;
}

.breadcrumb__current {
  font-size: $text-secondary-size;
}

.catalog__title {
  text-transform: uppercase;
  margin-top: 12px;
}

.sorted__by {
  font-size: $text-secondary-size;
  a {
    text-decoration: underline;
    padding-left: 5px;
    &:hover,
    &:focus {
      color: $secondary-brand-color;
    }
  }
}

.sorted__by-price,
.shown__by-item {
  position: relative;
  padding-right: 15px;
  &:after {
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    content: '';
    border: 1px solid #676767;
    height: 12px;

  }
}

.catalog__pagination {
  @extend .clearfix;
  margin-top: 8px;
}

.pagination__box {
  float: left;
}

.show__by {
  float: right;
}

.pagination__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination__item {
  display: inline-block;
}

.pagination__link {
  display: block;
  padding: 2px;
  font-weight: $bold;
  font-size: $text-secondary-size;
  &:hover,
  &:focus {
    background-color: $bg-brand-color;
  }
}

.show__by-group {
  font-size: $text-secondary-size;
  a {
    text-decoration: underline;
    padding-left: 5px;
    &:hover,
    &:focus {
      color: $secondary-brand-color;
    }
  }
}

//CATALOG
.catalog__container {
  margin: 15px -12px 30px -30px;
  [class*='col-'] {
    /*-- our gutter --*/
    padding: 0 0 40px 20px;
  }
}

.image__container {
  padding: 6px 12px 0 12px;
  webkit-transition: background-color .8s;
  -moz-transition: background-color .8s;
  -o-transition: background-color .8s;
  transition: background-color .8s;
  &:hover {
    background-color: $brand-color;
  }
}

.image__item {
  max-width: 100%;
}

.image__caption {
  font-size: $text-main-size;
  margin-bottom: 10px;
  height: 20px;
}

.item__price {
  color: $secondary-brand-color;
  font-weight: $bold;
  padding-bottom: 5px;
  border-bottom: 4px solid #333;
  display: block;
}

//CATALOG SLIDER
.catalog__slider {
  margin-top: 40px;
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
  padding: 30px 28px 60px;
}

.catalog__slider {
  position: relative;
  .slick-dotted {
    &.slick-slider {
      margin-bottom: 20px;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    color: $main-color;
  }

  .slick-next:before {
    content: '';
    display: block;
    width: 20px;
    height: 30px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -57px -59px;
  }
  .slick-prev:before {
    content: '';
    display: block;
    width: 20px;
    height: 33px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -12px -59px;
  }
}

//ABOUT
.about-container {
  padding: 15px;
}

.about__logo {
  float: left;
}

.about__description {
  overflow: hidden;
  padding-left: 30px;
  text-align: justify;
}

.about__title {
  margin-top: 0;

}

.logo__mini {
  max-width: 100%;
  vertical-align: middle;
}

.catalog__viewed-info {
  position: absolute;
  top: -17px;
  left: 0;
  right: 0;
  max-width: 240px;
  margin: auto;
}

.viewed__link {
  background: $bg-brand-color;
  padding: 5px 30px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

//PRODUCT PAGE
.breadcrumb__link {
  font-size: $text-secondary-size;
  text-decoration: underline;
  &:before {
    content: '\00ab';
    display: inline-block;
    padding-right: 8px;
  }
}
.content__container {
  padding-top: 15px;
  padding-bottom: 30px;
}
.product__catalog-slider {
  margin-top: 60px;
  .catalog__slider {
    border-bottom: none;
    margin: 0;

  }
}
.content__container {
  @extend .clearfix;

}
.product__slider-box {
  float: left;
  max-width: 500px;
  .slider__nav {
    border-top: 4px solid #333;
    border-bottom: 1px solid #333;
    margin: 8px 0;
    padding: 12px 30px;
    padding: 12px 30px 12px 35px;
    .slider__image{
      .slider__img-item {
        border: 3px solid transparent;
      }
      &.slick-current {
        .slider__img-item {
          border-color: $brand-color;
        }
      }
    }
    .slick-prev:before,
    .slick-next:before {
      color: $main-color;
    }
    .slick-next {
      right: 0;
      z-index: 10;
    }
    .slick-prev {
      left: 0;
      z-index: 10;
    }
    .slick-next:before {
      content: '';
      display: block;
      width: 20px;
      height: 30px;
      background-image: url("../../images/sprites/sprites.png");
      background-position: -57px -59px;
    }
    .slick-prev:before {
      content: '';
      display: block;
      width: 20px;
      height: 33px;
      background-image: url("../../images/sprites/sprites.png");
      background-position: -12px -59px;
    }
  }
}

.product__description {
  float: right;
  width: 48%;
  padding-left: 5px;
}
.description__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

.product__description {
  .social__menu {
    margin-bottom: 30px;
    .social__item {
      padding-right: 20px;
    }
  }
}
.description__content {
  .availability__title {
    font-style: italic;
    margin-bottom: 15px;
  }
  .retail__title,
  .discount__title {
    background-color: $bg-third-color;
    font-size: $text-secondary-size;
    font-weight: $bold;
    padding: 2px;
    margin-right: 10px;
  }
  .discount__price {
    margin-left: 6px;
  }
  .discount__price {
    font-size: 28px;
    font-weight: $bold;
  }
  .discount__concrete {
    margin-left: 15px;
    font-style: italic;;
  }
  .retail__title {
    padding-right: 27px;
  }
  .retail__price {
    font-size: 32px;
    color: $secondary-brand-color;
  }
  .desc__item {
    margin: 0;
    font-weight: $bold;
  }
  .vendor_code {
    margin-bottom: 0;
    font-weight: $bold;
  }
  .vendor__number,
  .trademark__name,
  .manufacturing__country,
  .color__type,
  .composition__name {
    font-weight: $regular;
  }
}

.description__slider-color {
  border-top: 1px solid $main-color;
  padding-top: 10px;
  b {
    font-size: $text-secondary-size;
  }
}
.color__chosen-slider {
  .slick-prev:before,
  .slick-next:before {
    color: $main-color;
  }
  .slick-next {
    right: 140px;
    z-index: 10;
  }
  .slick-prev {
    left: 0;
    z-index: 10;
  }
  .slick-next:before {
    content: '';
    display: block;
    width: 20px;
    height: 30px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -57px -59px;
  }
  .slick-prev:before {
    content: '';
    display: block;
    width: 20px;
    height: 33px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -12px -59px;
  }
  padding: 12px 160px 10px 35px;
  .slider__image {
    width: 90px;
    .slider__img-item {
      display: block;
      width: 80px;
      vertical-align: middle;
      border: 3px solid transparent;
    }
    &.slick-current {
      .slider__img-item {
        border-color: $brand-color;
      }
    }
  }
}

.description__size {
  margin-top: 20px;
}
.description__size-title {
  font-weight: $bold;
  font-size: $text-secondary-size;
}
.size__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 10px;

}
.size__item {
  display: inline-block;
  width: 45px;
  margin-right: 6px;
  text-align: center;

}
.size__link {
  font-size: 26px;
  display: block;
  padding: 5px;
  background-color: #e5e5e5;
  &:hover {
    background-color: $bg-brand-color;
  }
}
.сolor__custom {
  color: $secondary-brand-color;
  text-decoration: underline;
  font-size: $text-secondary-size;
}
.description__addtocart {
  margin-top: 28px;
  @extend .clearfix;
}
.add__quantity {
  float: left;
  margin-top: 8px;
  width: 40%;
  span {
    font-size: $text-main-size;
    font-weight: $bold;
  }
  .product__add-input {
    width: 50%;
  }
}
.add__to-caret {
  float: right;
}
.to__caret-link {
  padding-top: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: $text-main-size;
  font-weight: $bold;
  display: block;
  text-align: center;
}
.commets__title {
  padding: 8px 12px;
  font-weight: $bold;
  max-width: 785px;
  background: $bg-third-color;
  font-size: $text-mid-size;
}
.add__comment {
  float: right;
}
.comment__by-name,
.comment__by-title {
  font-weight: $bold;
  font-size: $text-secondary-size;
}
.comment__by-name {
  margin-top: 8px;
  margin-bottom: 0;
}
.comment__by-date {
  font-size: $text-main-size;
}
.comment__box {
  margin-top: 18px;
  border-bottom: 1px solid $main-color;
}

.comments__forms {
  padding-bottom: 35px;
  margin-top: 40px;
  .add__comment {
    float: none;
    display: inline-block;
    margin-bottom: 10px;
    .add__comment-button {
      font-size: $text-secondary-size;
    }
  }
}
.comments__group {
  @extend .clearfix;
  padding: 20px;
  background-color: $bg-third-color;
  span {
    display: inline-block;
    width: 20%;
    font-size: $text-main-size;
    font-weight: $bold;
  }
}
.comment__fields {
  float: left;
  width: 50%;

}
.your__comment {
  float: left;
  width: 50%;
}
.field__name {
  display: inline-block;
  width: 300px;
}
.name__input {
  width: 100%;
  padding: 2px 4px;
}
.field__box {
  margin-bottom: 10px;
}
.box_comment {
  @extend .clearfix;
}
.comment__label-title {
  float: left;
  padding-top: 4px;
  margin-right: 5px;
}
.textarea__box {
  display: inline-block;
  .btn-secondary {
    text-transform: none;
  }
}
.comment__input-field {
  resize: none;
  width: 370px;
  height: 115px;
}
.your__field-name {
  @extend .clearfix;
}
.your__comment-title {
  float: left;
}

.label__name-text,
.label__email-text,
.label__textarea-text {
  position: relative;
}

//FORM ORDER PAGE
.form__order-content {
  margin-top: 15px;
}
.order__title {
  text-transform: uppercase;
  margin-top: 0;
}
.short__form-title,
.extend__form-title {
  color: $secondary-brand-color;
  text-transform: uppercase;
}
.order__box {
  padding: 6px 0;
  border-top: 3px solid $main-color;
  border-bottom: 1px solid $main-color;
}
.short__form-content,
.extend__form-content {
  background-color: $bg-third-color;
}
.order__submit {
  text-align: center;
}
.short__form-content,
.extend__form-content{
  padding: 15px;
}
//FORMs
.phone__number-second,
.phone__number-first {
  padding: 4px 8px;
}

.phone__title {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
.extended__order-notification {
  font-weight: $bold;
  position: relative;
  padding: 0 20px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $brand-color;
  }
}
.extended__order-link {
  text-decoration: underline;
  color: $secondary-brand-color;
}
.extended__input {
  display: block;
  width: 250px;
  margin-bottom: 12px;
  max-width: 100%;
}
.name__label,
.phone__label,
.address__label {
  display: block;
  float: left;
  margin-top: 5px;
  width: 118px;
  font-size: $text-main-size;
  font-style: italic;

}
.extended_textarea {
  resize: none;
  height: 80px;
  overflow: auto;
}
.extended__left {
  float: left;
  width: 60%;
}
.extended__right {
  float: right;
  margin-right: 10px;
}
.extended__wrapper {
  @extend .clearfix;
  margin-bottom: 10px;
}
.address__addition {
  font-size: 10px;
}
.select__menu {
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  order:none;
  outline:none;
  background-color: $secondary-color;
}

.extended__select-title {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  font-size: $text-main-size;
  font-style: italic;
}
.extended__field {
  position: relative;
}

.extended__calculation {
  text-align: center;
  margin-top: 8px;
}
.calculation__link {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: $bold;
  display: block;
  text-align: center;
  margin-right: 38px;
  text-align: right;
}

.delivery__cost {
  text-align: center;
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 16px;
  margin-top: 50px;
}

//PHOTO GALLERY
.content__gallery-title {
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
  border-bottom: 4px solid $main-color;

}

.gallery_image-caption {
  font-weight: $bold;
  text-align: center;
  height: 13px;
  font-size: 11px;
  text-transform: uppercase;
}


//GALLERT WEDDING
.gallery__breadcrumb {
  float: right;
}
.breadcrumb__wedding {
  position: relative;
  text-decoration: underline;
  &:before {
    content: '\00ab';
    display: block;
    padding-right: 8px;
    left: -14px;
    top: 1px;
    position: absolute;
  }
}

//GALLERY SLIDER
.slider__for-gallery {
  padding: 8px 0;
  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }
  .slick-prev {
    left: 0;
    z-index: 20;
  }
  .slick-next {
    right: 0;
    z-index: 20;
  }
  .slick-next:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 60px;
    height: 62px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -108px -194px;
  }
  .slick-prev:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 60px;
    height: 62px;
    background-image: url("../../images/sprites/sprites.png");
    background-position: -18px -194px;
  }
  div {
    img {
      width: auto;
      margin: auto;
    }
  }

}
.slider__nav-gallery {
  padding: 0 20px;
  margin: 0 10px 80px;
    .slider__image {
    width: 90px;
    .slider__img-item {
      display: block;
      width: 88px;
      vertical-align: middle;
      border: 3px solid transparent;
    }
    &.slick-current {
      .slider__img-item {
        border-color: $brand-color;
      }
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    background: $brand-color;
    width: 25px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    background: $brand-color;
    width: 25px;

  }
  .slick-prev:before,
  .slick-next:before {
    color: $main-color;
    font-size: 28px;
  }
  .slick-prev {
    left: -7px;
    z-index: 100;
  }
  .slick-next {
    right: -7px;
    z-index: 100;
  }
  .slick-next,
  .slick-prev {
    top: 50px;
    height: 80px;
  }
  .slick-prev:before {
    content: '\2039';
  }
  .slick-next:before {
    content: '\203A';
  }
}