.btn__submit {
  outline: none;
  display: block;
  margin: 10px auto;
  border: 1px solid transparent;
  padding: 12px 40px 11px;
}
.btn-secondary {
  background-color: $bg-sec-color;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: $bold;
}

.btn__reset {
  padding: 4px 24px;
  font-size: $text-main-size;
  font-weight: $bold;
  outline: none;
  border: 0;
}

.btn-primary {
  background-color: $bg-brand-color;
  color: $main-color;
}