.btn__submit {
  outline: none;
  display: block;
  margin: 10px auto;
  border: 1px solid transparent;
  padding: 12px 40px 11px;
}
.btn-secondary {
  background-color: $bg-sec-color;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: $bold;
}

.btn__reset {
  padding: 4px 24px;
  font-size: $text-main-size;
  font-weight: $bold;
  outline: none;
  border: 0;
}

.btn-primary {
  background-color: $bg-brand-color;
  color: $main-color;
}

.btn__add-to-caret {
  outline: none;
  display: block;
  font-size: $text-secondary-size;
  padding: 8px 22px;
  border: 1px solid transparent;
}
.add__comment-button {
  outline: none;
  display: block;
  padding: 7px 22px;
  border: 1px solid transparent;
  text-transform: none;
  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.btn__comment-submit {
  margin-top: 5px;
  outline: none;
  display: block;
  font-size: $text-secondary-size;
  padding: 5px 18px;
  border: 1px solid transparent;
}
.btn__order {
  outline: none;
  padding: 14px 55px;
  border: 1px solid transparent;
}