//Main menu
.main-menu__top {
  margin-top: 10px;
  background-color: $third-brand-color;
  border-top: 3px solid $main-color;
}

.menu__navigation {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu__item {
  display: table-cell;
  text-align: center;
  max-width: 1px;

}
.menu__link {
  padding: 10px 0;
  display: block;
  font-weight: $bold;
  text-transform: uppercase;
  &:hover {
    background-color: $bg-brand-color;
  }
}
.main-menu__bottom {
  @extend .clearfix;
  margin-bottom: 10px;
  border-top: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
  background-color: $bg-brand-color;
  .menu__link {
    text-transform: none;
  }
  .menu__navigation {
    @extend .clearfix;
    display: block;
    width: 62%;
    float: left;
    padding-left: 5px;
  }
  .menu__item {
    display: block;
    float: left;
    max-width: none;
    padding-right: 8px;
  }
  .menu__link {
    padding: 10px 8px;
  }
  ::-webkit-input-placeholder {
    color: $main-color;
    font-style: italic;
    font-size: $text-main-size;
  }
  ::-moz-placeholder {
    color: $main-color;
    font-style: italic;
    font-size: $text-main-size;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $main-color;
    font-style: italic;
    font-size: $text-main-size;
  }

  :-ms-input-placeholder {
    color: $main-color;
    font-style: italic;
    font-size: $text-main-size;
  }
}
.navigation__search {
  float: right;
  width: 38%;
}
.item_search {
  padding: 5px;
  padding-right: 40px;
  position: relative;
}
.menu__search-input {
  width: 100%;
  padding: 4px 20px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 25px;
  box-shadow: inset 1px 2px 7px 2px rgba(150, 138, 138, 0.97);
}
.menu__search-submit {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  top: 2px;
  right: 12px;
  height: 27px;
  border: 0;
  background-image: url("../../images/sprites/sprites.png");
  background-position: -106px 0;
  -webkit-appearance:none;
  background-color: transparent;
  background-repeat: no-repeat;
  &:focus {
    outline: none;
  }
}

//Menu aside
.aside {
  float: left;
  width: 27%;
  .menu__navigation {
    margin-bottom: 15px;
  }
  .menu__item_aside {
    .menu__link {
      position: relative;
      &:hover,
      &:focus {
        background-color: $bg-third-color;
        &:before {
          content: '';
          display: block;
          position: absolute;
          border-left: 6px solid $brand-color;
          top: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .menu__item-title {
    .menu__link {
      &:hover,
      &:focus {
        background-color: $bg-sec-color;
        &:before {
          content: '';
          display: none;
          position: absolute;
          border-left: 6px solid $brand-color;
          top: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
.menu__item_aside {
  float: none;
  padding-right: 10px;
  display: block;
  max-width: none;
  text-align: left;
  .menu__link {
    text-transform: none;
    padding: 5px 12px;
    border-bottom: 1px solid $third-brand-color;
    font-size: $text-main-size;

  }
}
.menu__item-title {
  .menu__link {
    background-color: $secondary-brand-color;
    color: $secondary-color;
    font-size: $text-title-size;
  }
}
.menu__item {
  &:last-child {
    .menu__link {
      border: 0;
    }
  }
}
.item_contacts {
  margin-right: 10px;
  background-color: $third-brand-color;
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-left: 6px solid #fed900;
    padding: 11.9px 10px;
  }
}