// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  background-color: #e0f2be;
  height: 400px;
}

.footer__header {
  background-color: $bg-color;
  height: 50px;
}