// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  margin-top: 40px;
}
.footer__container {
  @extend .clearfix;
  padding-bottom: 10px;
}
.footer__box {
  float: left;
  padding: 0 25px;
  width: 33%;
}
.footer__right-box {
  float: right;
  .footer__box {
    width: auto;
  }
}
.footer__header {
  background-color: $main-color;
  height: 35px;
  margin-bottom: -30px;
}
.footer__nav  {
  overflow: hidden;
}
.menu__item {
  &.footer__item {
    display: block;
    max-width: none;
    padding: 0;
    text-align: left;
    font-weight: $bold;
    font-size: $text-secondary-size;
    .menu__link {
      text-align: left;
      font-weight: $bold;
      text-transform: none;
      padding: 5px 11px;
      &:hover,
      &:focus {
        background-color: $bg-sec-color;
      }
    }
  }
}
.footer__title {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: $bold;
  padding: 2px 10px;
  font-size: $text-mid-size;
  background-color: $brand-color;
}

.footer_left-b {
  border-left: 2px solid #A59A9A;
  margin-top: 46px;
  height: 190px;
}

.social__menu {
  @extend .clearfix;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social__item {
  float: left;
  padding-right: 10px;
}

.social__facebook {
  width: 25px;
  height: 25px;
  display: block;
  background-image: url("../images/sprites/social-sprites.png");
  background-position: -16px -17px;
}
.social__twitter {
  @extend .social__facebook;
  background-position: -52px -18px;
}
.social__vk {
  @extend .social__facebook;
  background-position: -89px -17px;
}

.social__od {
  @extend .social__facebook;
  background-position: -129px -17px;
}
.social__pencil {
  @extend .social__facebook;
  background-position: -173px -17px;
}
.social__google {
  @extend .social__facebook;
  background-position: -213px -17px;
}

.follow__copyright {
  background-color: $bg-third-color;
  margin-top: 20px;
  p {
    padding: 7px 69px 72px 10px;
    font-weight: $bold;
  }
}

.footer__follow {
  position: relative;
  padding-right: 0;
  max-width: 298px;
  //  width: 100%;
}
.footer__subscribe {
  position: absolute;
  background-color: $bg-brand-color;
  width: 90%;
  top: -61px;
  left: 15px;
  padding: 10px;
  p {
    margin: 5px 0;
  }
  ::-webkit-input-placeholder {
    font-size: $text-main-size;
    width: 85%;
    font-style: italic;
    color: $main-color;
  }
  ::-moz-placeholder {
    font-size: $text-main-size;
    width: 85%;
    font-style: italic;
    color: $main-color;
  }

 }
.subscribe__form {
  position: relative;
}
.subscribe__input {
  width: 85%;
  padding: 0 6px;
}
.footer__subscribe {
  .subscribe__submit {
    content: '';
    display: block;
    position: absolute;
    right: 7px ;
    top: -6px ;
    width: 20px;
    height: 27px;
    border: 0;
    background-image: url("../images/sprites/sprites.png");
    background-position: -172px 0;
    -webkit-appearance:none;
    background-color: transparent;
    background-repeat: no-repeat;
    &:focus {
      outline: none;
    }
  }
}
