//This is a simple slider

.slider__container {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 600px;
  margin: 60px auto 20px;
}
.slider__view {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slider__custom {
  transition: 0.4s all;
  position: absolute;
  top: 0;
  left: 0;
  width: 10000px;
}
.slider__item {
  float: left;
}
.slider__image {
  display: block;
  vertical-align: middle;
}

.btn__next,
.btn__prev{
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.btn__prev {
  left: -59px;
}
.btn__next {
  right: -60px;
}

.transition_none {
  transition: none !important;
}