//This is a simple slider

.slider__container {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 600px;
  margin: 60px auto 20px;
}
.slider__view {
  position: absolute;
  //overflow: hidden;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slider__custom {
  transition: 0.4s all;
  position: absolute;
  top: 0;
  left: 0;
  width: 10000px;
}
.slider__item {
  float: left;
  position: relative;
  
  .slide-count {
    font-size: 80px;
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    text-align: center;
    color: #ffffff;
    background: #000000;
  }
}
.slider__image {
  max-width: 100%;
  display: block;
  vertical-align: middle;
}

.btn__next,
.btn__prev{
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.btn__prev {
  left: -80px;
}
.btn__next {
  right: -80px;
}

.prev__slide,
.next__slide {
  border: 0;
  width: 75px;
  height: 75px;
  outline-style: none;
  background-color: rgba(239, 164, 164, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  &:hover {
    background-color: rgba(239, 164, 164, 0.77);
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2 s all;
  }
}

.transition_none {
  transition: none !important;
}
.slider__nav-custom {
  @extend .clearfix;
}

.slider2 {
  position: relative;
  margin: 60px auto 20px;
  .btn__next,
  .btn__prev{
    top: 25%;
  }
  .slider__image {
    max-width: 100%;
    width: 100%;
    border: 3px solid transparent;
    display: block;
    vertical-align: middle;
  }
  .slider__custom {
    transition: 0.4s all;
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
  }
  .slider__view {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slider__item {
    float: left;
    &.active {
      .slider__image {
        border-color: red;
      }
    }
  }
}

